# Defining the exact version will make sure things don't break
ipython==7.22.0
nbsphinx==0.8.7
readthedocs-sphinx-search==0.1.1
sphinx==4.1.2
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.12.0
sphinx-intl==2.0.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
pydata-sphinx-theme==0.14.4
numpy==2.1.3
pandas==2.2.3
QuantLib==1.39
joblib==1.4.2
pymysql==1.1.2
oracledb==3.4.1
copula==0.0.4
copulae==0.8.0
scipy==1.15.3
importlib==1.0.4
redmail==0.6.0
python-docx==1.2.0
python-pptx==1.0.2
imapclient==3.0.1
openpyxl==3.1.5
easygui==0.98.3
plotly==5.24.1